html,body{
  height: 100%;
}

/* bootstrap style */

.navbar-light .navbar-toggler-icon{
background-image: url(../assets/images/menu.png);
}
.navbar-light .navbar-toggler{
  border-color:#fff
}
.navbar-toggler:focus{
  box-shadow: unset;
}

/* btn */
.btn-primary{
  background-color: rgb(245, 108, 35);
  color: #fff;
  padding: 10px;
  width: 60px;
  border-radius: 2px;
  border: 0;
  &:hover{
    background-color: rgb(240, 95, 17);
  }
  &:focus , &:active , &:focus:active{
    background-color: rgb(245, 108, 35);
    box-shadow: unset;
  }
}

.wrapper{
  height: 100%;
}

/* custom style */
.topNavbar{
  background-color: rgba(0,0,0,0.9);
  .navbar-nav .nav-link , .navbar-brand{
    display: flex;
    align-items: center;
    color: #fff;
    &:hover, &:focus , &:active ,&:focus-visible{
      color: #fff;
    }
  }
  .userDropdown{
    .dropdown-menu{
      left: -120px;
    }
  &:focus-visible{
    color: #fff;
  }
  }
}

.layoutContainer{
  min-height:100vh;
}

.footer{
  background-color: #EFE9E7;
  color: #3D1101;
  h3{
    color: #3D1101;
    font-weight: bold;
  }
  .googleIcon{
    background-color: #DB4437;
    color: #fff;
    width: 36px;
    height: 36px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
  }
  .facebookIcon{
    background-color: #3A5795;
    color: #fff;
    width: 36px;
    height: 36px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
  }
  .twitterIcon{
    background-color: #41ABE1;
    color: #fff;
    width: 36px;
    height: 36px;
    padding: 10px;
    border-radius: 10px;
    margin-right: 10px;
  }
}
