/* bootstrap style */

.navbar-light .navbar-toggler-icon{
background-image: url(../assets/images/menu.png);
}
.navbar-light .navbar-toggler{
  border-color:#fff
}
.navbar-toggler:focus{
  box-shadow: unset;
}

/* custom style */
.topNavbar{
  background-color: rgba(0,0,0,0.75);
  .navbar-nav .nav-link , .navbar-brand{
    color: #fff;
    &:hover, &:focus , &:active{
      color: #fff;
    }
  }
}
